@model int
<a href="/cart/Index">
    <div id="cartShop" style="float:right;margin:0px">
        <div style="color:white;background-color:olivedrab;padding:20px 20px;border-radius:50%;cursor:pointer">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <div style="background-color:hotpink;border-radius:50%;padding:5px 10px  ;position:absolute;top:0px;color:white">
           @Model
        </div>
    </div>
</a>
